.g-container {
  column-count: 4;
  column-gap: 0.5vw;
  padding-top: 0.5vw;
}

.g-item {
  position: relative;
  width: 24vw;
  margin-bottom: 1vw;
  break-inside: avoid;
}

.g-item:nth-child(1) {
  height: 124px;
  background: #9eac4e;
}
.g-item:nth-child(1)::after {
  content: "1";
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-item:nth-child(2) {
  height: 155px;
  background: #7863cc;
}
.g-item:nth-child(2)::after {
  content: "2";
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-item:nth-child(3) {
  height: 336px;
  background: #236383;
}
.g-item:nth-child(3)::after {
  content: "3";
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-item:nth-child(4) {
  height: 247px;
  background: #fdd2de;
}
.g-item:nth-child(4)::after {
  content: "4";
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-item:nth-child(5) {
  height: 226px;
  background: #e957b8;
}
.g-item:nth-child(5)::after {
  content: "5";
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-item:nth-child(6) {
  height: 138px;
  background: #49830b;
}
.g-item:nth-child(6)::after {
  content: "6";
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-item:nth-child(7) {
  height: 298px;
  background: #08e9bc;
}
.g-item:nth-child(7)::after {
  content: "7";
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-item:nth-child(8) {
  height: 188px;
  background: #7aa125;
}
.g-item:nth-child(8)::after {
  content: "8";
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-item:nth-child(9) {
  height: 236px;
  background: #341f2b;
}
.g-item:nth-child(9)::after {
  content: "9";
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-item:nth-child(10) {
  height: 178px;
  background: #3bfc35;
}
.g-item:nth-child(10)::after {
  content: "10";
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-item:nth-child(11) {
  height: 96px;
  background: #a718fe;
}
.g-item:nth-child(11)::after {
  content: "11";
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-item:nth-child(12) {
  height: 290px;
  background: #3b7aef;
}
.g-item:nth-child(12)::after {
  content: "12";
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-item:nth-child(13) {
  height: 264px;
  background: #d052b8;
}
.g-item:nth-child(13)::after {
  content: "13";
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-item:nth-child(14) {
  height: 185px;
  background: #6cce81;
}
.g-item:nth-child(14)::after {
  content: "14";
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-item:nth-child(15) {
  height: 86px;
  background: #64f346;
}
.g-item:nth-child(15)::after {
  content: "15";
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-item:nth-child(16) {
  height: 142px;
  background: #7253a7;
}
.g-item:nth-child(16)::after {
  content: "16";
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-item:nth-child(17) {
  height: 301px;
  background: #6114da;
}
.g-item:nth-child(17)::after {
  content: "17";
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-item:nth-child(18) {
  height: 169px;
  background: #c50392;
}
.g-item:nth-child(18)::after {
  content: "18";
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-item:nth-child(19) {
  height: 323px;
  background: #2ec5cc;
}
.g-item:nth-child(19)::after {
  content: "19";
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-item:nth-child(20) {
  height: 237px;
  background: #41280f;
}
.g-item:nth-child(20)::after {
  content: "20";
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-item:nth-child(21) {
  height: 318px;
  background: #9a38e1;
}
.g-item:nth-child(21)::after {
  content: "21";
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-item:nth-child(22) {
  height: 231px;
  background: #46c0cc;
}
.g-item:nth-child(22)::after {
  content: "22";
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-item:nth-child(23) {
  height: 315px;
  background: #d9a3a8;
}
.g-item:nth-child(23)::after {
  content: "23";
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-item:nth-child(24) {
  height: 91px;
  background: #066a80;
}
.g-item:nth-child(24)::after {
  content: "24";
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-item:nth-child(25) {
  height: 330px;
  background: #f0e9dc;
}
.g-item:nth-child(25)::after {
  content: "25";
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-item:nth-child(26) {
  height: 337px;
  background: #02cfdb;
}
.g-item:nth-child(26)::after {
  content: "26";
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-item:nth-child(27) {
  height: 110px;
  background: #368003;
}
.g-item:nth-child(27)::after {
  content: "27";
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-item:nth-child(28) {
  height: 218px;
  background: #7b558d;
}
.g-item:nth-child(28)::after {
  content: "28";
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-item:nth-child(29) {
  height: 219px;
  background: #61ccf5;
}
.g-item:nth-child(29)::after {
  content: "29";
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-item:nth-child(30) {
  height: 193px;
  background: #7f5b89;
}
.g-item:nth-child(30)::after {
  content: "30";
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-item:nth-child(31) {
  height: 289px;
  background: #e132ec;
}
.g-item:nth-child(31)::after {
  content: "31";
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-item:nth-child(32) {
  height: 78px;
  background: #ea901f;
}
.g-item:nth-child(32)::after {
  content: "32";
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}