.g-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
}

.g-queue {
  display: flex;
  flex-direction: column;
  flex-basis: 24%;
}

.g-item {
  position: relative;
  width: 100%;
  margin: 2.5% 0;
}

.g-queue:nth-child(1) .g-item:nth-child(1) {
  height: 252px;
  background: #aad358;
}
.g-queue:nth-child(1) .g-item:nth-child(1)::after {
  content: "1";
  position: absolute;
  color: #fff;
  font-size: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.g-queue:nth-child(1) .g-item:nth-child(2) {
  height: 193px;
  background: #586207;
}
.g-queue:nth-child(1) .g-item:nth-child(2)::after {
  content: "2";
  position: absolute;
  color: #fff;
  font-size: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.g-queue:nth-child(1) .g-item:nth-child(3) {
  height: 56px;
  background: #13a194;
}
.g-queue:nth-child(1) .g-item:nth-child(3)::after {
  content: "3";
  position: absolute;
  color: #fff;
  font-size: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.g-queue:nth-child(1) .g-item:nth-child(4) {
  height: 111px;
  background: #9f46e7;
}
.g-queue:nth-child(1) .g-item:nth-child(4)::after {
  content: "4";
  position: absolute;
  color: #fff;
  font-size: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.g-queue:nth-child(1) .g-item:nth-child(5) {
  height: 172px;
  background: #de6917;
}
.g-queue:nth-child(1) .g-item:nth-child(5)::after {
  content: "5";
  position: absolute;
  color: #fff;
  font-size: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.g-queue:nth-child(1) .g-item:nth-child(6) {
  height: 84px;
  background: #3aa539;
}
.g-queue:nth-child(1) .g-item:nth-child(6)::after {
  content: "6";
  position: absolute;
  color: #fff;
  font-size: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.g-queue:nth-child(1) .g-item:nth-child(7) {
  height: 331px;
  background: #bfac65;
}
.g-queue:nth-child(1) .g-item:nth-child(7)::after {
  content: "7";
  position: absolute;
  color: #fff;
  font-size: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.g-queue:nth-child(1) .g-item:nth-child(8) {
  height: 122px;
  background: #e1aa72;
}
.g-queue:nth-child(1) .g-item:nth-child(8)::after {
  content: "8";
  position: absolute;
  color: #fff;
  font-size: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-queue:nth-child(2) .g-item:nth-child(1) {
  height: 143px;
  background: #d8f7f3;
}
.g-queue:nth-child(2) .g-item:nth-child(1)::after {
  content: "1";
  position: absolute;
  color: #fff;
  font-size: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.g-queue:nth-child(2) .g-item:nth-child(2) {
  height: 99px;
  background: #d18923;
}
.g-queue:nth-child(2) .g-item:nth-child(2)::after {
  content: "2";
  position: absolute;
  color: #fff;
  font-size: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.g-queue:nth-child(2) .g-item:nth-child(3) {
  height: 80px;
  background: #649708;
}
.g-queue:nth-child(2) .g-item:nth-child(3)::after {
  content: "3";
  position: absolute;
  color: #fff;
  font-size: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.g-queue:nth-child(2) .g-item:nth-child(4) {
  height: 175px;
  background: #3db80f;
}
.g-queue:nth-child(2) .g-item:nth-child(4)::after {
  content: "4";
  position: absolute;
  color: #fff;
  font-size: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.g-queue:nth-child(2) .g-item:nth-child(5) {
  height: 205px;
  background: #452d2c;
}
.g-queue:nth-child(2) .g-item:nth-child(5)::after {
  content: "5";
  position: absolute;
  color: #fff;
  font-size: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.g-queue:nth-child(2) .g-item:nth-child(6) {
  height: 135px;
  background: #9c89d1;
}
.g-queue:nth-child(2) .g-item:nth-child(6)::after {
  content: "6";
  position: absolute;
  color: #fff;
  font-size: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.g-queue:nth-child(2) .g-item:nth-child(7) {
  height: 289px;
  background: #4f3c4f;
}
.g-queue:nth-child(2) .g-item:nth-child(7)::after {
  content: "7";
  position: absolute;
  color: #fff;
  font-size: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.g-queue:nth-child(2) .g-item:nth-child(8) {
  height: 348px;
  background: #e5debc;
}
.g-queue:nth-child(2) .g-item:nth-child(8)::after {
  content: "8";
  position: absolute;
  color: #fff;
  font-size: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-queue:nth-child(3) .g-item:nth-child(1) {
  height: 148px;
  background: #639ed4;
}
.g-queue:nth-child(3) .g-item:nth-child(1)::after {
  content: "1";
  position: absolute;
  color: #fff;
  font-size: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.g-queue:nth-child(3) .g-item:nth-child(2) {
  height: 98px;
  background: #8fea24;
}
.g-queue:nth-child(3) .g-item:nth-child(2)::after {
  content: "2";
  position: absolute;
  color: #fff;
  font-size: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.g-queue:nth-child(3) .g-item:nth-child(3) {
  height: 295px;
  background: #a38909;
}
.g-queue:nth-child(3) .g-item:nth-child(3)::after {
  content: "3";
  position: absolute;
  color: #fff;
  font-size: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.g-queue:nth-child(3) .g-item:nth-child(4) {
  height: 334px;
  background: #74d56e;
}
.g-queue:nth-child(3) .g-item:nth-child(4)::after {
  content: "4";
  position: absolute;
  color: #fff;
  font-size: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.g-queue:nth-child(3) .g-item:nth-child(5) {
  height: 113px;
  background: #21da4b;
}
.g-queue:nth-child(3) .g-item:nth-child(5)::after {
  content: "5";
  position: absolute;
  color: #fff;
  font-size: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.g-queue:nth-child(3) .g-item:nth-child(6) {
  height: 229px;
  background: #98420f;
}
.g-queue:nth-child(3) .g-item:nth-child(6)::after {
  content: "6";
  position: absolute;
  color: #fff;
  font-size: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.g-queue:nth-child(3) .g-item:nth-child(7) {
  height: 173px;
  background: #a697ee;
}
.g-queue:nth-child(3) .g-item:nth-child(7)::after {
  content: "7";
  position: absolute;
  color: #fff;
  font-size: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.g-queue:nth-child(3) .g-item:nth-child(8) {
  height: 282px;
  background: #110a64;
}
.g-queue:nth-child(3) .g-item:nth-child(8)::after {
  content: "8";
  position: absolute;
  color: #fff;
  font-size: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-queue:nth-child(4) .g-item:nth-child(1) {
  height: 206px;
  background: #2d4097;
}
.g-queue:nth-child(4) .g-item:nth-child(1)::after {
  content: "1";
  position: absolute;
  color: #fff;
  font-size: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.g-queue:nth-child(4) .g-item:nth-child(2) {
  height: 91px;
  background: #4960e8;
}
.g-queue:nth-child(4) .g-item:nth-child(2)::after {
  content: "2";
  position: absolute;
  color: #fff;
  font-size: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.g-queue:nth-child(4) .g-item:nth-child(3) {
  height: 307px;
  background: #2ab2ad;
}
.g-queue:nth-child(4) .g-item:nth-child(3)::after {
  content: "3";
  position: absolute;
  color: #fff;
  font-size: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.g-queue:nth-child(4) .g-item:nth-child(4) {
  height: 229px;
  background: #97398d;
}
.g-queue:nth-child(4) .g-item:nth-child(4)::after {
  content: "4";
  position: absolute;
  color: #fff;
  font-size: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.g-queue:nth-child(4) .g-item:nth-child(5) {
  height: 56px;
  background: #982927;
}
.g-queue:nth-child(4) .g-item:nth-child(5)::after {
  content: "5";
  position: absolute;
  color: #fff;
  font-size: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.g-queue:nth-child(4) .g-item:nth-child(6) {
  height: 330px;
  background: #26b2b6;
}
.g-queue:nth-child(4) .g-item:nth-child(6)::after {
  content: "6";
  position: absolute;
  color: #fff;
  font-size: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.g-queue:nth-child(4) .g-item:nth-child(7) {
  height: 192px;
  background: #6ffc86;
}
.g-queue:nth-child(4) .g-item:nth-child(7)::after {
  content: "7";
  position: absolute;
  color: #fff;
  font-size: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.g-queue:nth-child(4) .g-item:nth-child(8) {
  height: 168px;
  background: #05a1bf;
}
.g-queue:nth-child(4) .g-item:nth-child(8)::after {
  content: "8";
  position: absolute;
  color: #fff;
  font-size: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}